<h1> List of all pizza orders</h1>

<%# this is a comment block %>
<%# we can put ruby code in the erb file as long as we have it inside the ice-cream cones.  note each line has cones at the start and end, order.pretty_name is looking at the pizza_order.rb file where there is a method for pretty_name %>
<% for order in @orders%>
  <p> Name: <%= order.pretty_name() %>, Type of pizza: <%= order.topping %>, Number Ordered: <%=order.quantity %>, Total Cost = £<%= order.total %></p>
<p><a href = "/pizza-orders/<%= order.id %>"> Show Order </a> </p> <%# uses the ID to update the id in the show.erb %>
<%end%>
