<h1> List of all pizza orders</h1>


<%# this is a comment block %>
<%# we can put ruby code in the erb file as long as we have it inside the ice-cream cones.  note each line has cones at the start and end, order.pretty_name is looking at the pizza_order.rb file where there is a method for pretty_name %>
<table style = "border-style: ridge;">
  <tr>
    <th>name</th>
    <th>Type of Pizza</th>
    <th># of Pizzas</th>
    <th>Total Cost</th>
    <th>More detail</th>
  </tr>
  <tr>
    <% for order in @orders%>
      <td><%= order.pretty_name() %></td><td> <%= order.topping %> </td> <td> <%=order.quantity %> </td> <td> £<%= order.total %></p> </td> <td>
    <p><a href = "/pizza-orders/<%= order.id %>"> Show Order </a> </p> <%# uses the ID to update the id in the show.erb %></td>
  </tr>
  <%end%>
