<form>

<h1>This page is for a single order</h1>

<table style="width:100%">


  <div style = "padding-left: 15px; border-style: double; width: 75%; margin-left: 30px; margin-bottom: 50px;">
    <p>Name: <%= @order.pretty_name() %> </br> <strong>Order Detail:</strong> </br> Topping: <%=@order.topping%>, Amount Ordered: <%=@order.quantity%>, Cost: £<%=@order.total()%> </p>

  </div>
</form>

<form style = "width: 20%; display: inline" method="post" action = "/pizza-orders/delete/<%=@order.id%>">

    <input class = "button" type="submit" value="Delete Order"/>
</form>

<form style = "width: 20%; display: inline" method = "get" action = "/pizza-orders/<%=@order.id%>/edit">

    <input class = "button" type="submit" value="Edit Order"/>
</form>
